@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rosario:wght@700&display=swap');

:root{
  --primary: #EB4034;
  --main: 'Rosario', sans-serif;
  --regular: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
  max-width: 100%;
}
html{
  position: relative;
}
body {
  background-color: #1262e317;
  height: 100vh;
  margin: 0;
  font-family: helvetica, sans-serif;
}
ul{
  padding: 0;
}
button{
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 35px;
  min-width: 35px;
  color: #fff;
  outline: none;
  transition: 0.1s ease;
}
button:active{
  transform: scale(0.97);
}
input{
  outline: none;
}
.long-btn{
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
}
#root{
  height: 100%;
  position: relative;
  width: 100%;
}

/*====================NAV STYLES==================*/
.navbar {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 2%;
  width: 100%;
}
.logo{
  color: var(--primary);
  font-family: var(--main);
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
}
.feedback-btn{
  background-color: unset;
  border: none;
  color: #4e4e4e;
  font-size: 18px;
  max-height: 35px;
}

/*====================MAIN STYLES==================*/
main{
  display: flex;
  height: calc(100% - 60px);
  padding: 10px 1%;
  width: 100%;
  max-width: 1225px;
  margin: 0 auto;
}
main > div{
  border-radius: 10px;
}

/*====================SIDEBAR STYLES==================*/
.sidebar{
  background-color: #fff;
  height: 100%;
  padding: 10px;
  width: 24.26vw;
  min-width: 250px;
  max-width: 290px;
  height: 70.87vw;
  max-height: 847px;
}
.side-heading{
  font-size: 1.4rem;
  font-weight: normal;
}
.setting{
  margin: 25px 0;
}
.setting > label{
  display: block;
  margin: 5px 0;
  width: 100%;
}
.setting > input{
  margin: 5px 0;
  width: 50%;
}

/*===================SMALL CONTAINER STYLES==================*/
.grid-container{
  display: grid;
  flex-grow: 1;
  gap: 15px;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
  "quote image"
  "large-container large-container";
  padding: 0 15px;
  width: 75.73vw;
  height: 70.87vw;
  max-height: 847px;
  max-width: 905px;
}
.small-container{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  height: 25.10vw;
  max-height: 300px;
  position: relative;
  width: 35.98vw;
  max-width: 430px;
}
.quote-container{
  grid-area: quote;
  justify-content: space-between;
}
.image-container{
  grid-area: image;
  justify-content: space-between;
}
.fresh-content{
  position: absolute;
  right: 10px;
  top: 10px;
}
.preview-content{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.quote-setter, .image-getter{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}
.image-upload-btn{

}
.gen-text{
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  height: 35px;
  margin: 0 10px;
  min-width: 60%;
}

/*===================LARGE CONTAINER STYLES==================*/
.large-container{
  display: flex;
  background-color: #fff;
  grid-area: large-container;
  width: 73.22vw;
  height: 44.51vw;
  max-width: 875px;
  max-height: 532px;
  position: relative;
  overflow: hidden;
}
.display-area{
  display: flex;
  flex-shrink: 1;
  background-position: center;
  margin: auto;
  width: auto;
  height: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}
.compImg{
  display: block;
  height: 100%;
  width: auto;
  max-width: auto;
}
.quote-area{
  border: 1px solid #3d3d3d00;
  resize: both;
  overflow: auto;
  margin: 0;
  max-width: 100%;
  cursor: move;
  position: absolute;
  z-index: 500;
}
.quote-area:active{
  border: 1px solid #3d3d3d;
}

.composite-actions{
  display: flex;
  padding: 10px 20px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  z-index: 1;
}


.card {
  border-radius: 10px;
  box-shadow: 0 0 5px #c4c4c499;
}

.invisible{
  opacity: 0;
}
